name: ci

on:
  push:
  pull_request:

jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip-ci')"
    strategy:
      matrix:
        os:
          - ubuntu-latest
        node-version:
          - 24.x
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: pnpm-store-dir
        id: pnpm-store-dir
        shell: bash
        run: |
          echo "PNPM_STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v5
        name: pnpm-cache-setup
        id: pnpm-cache-setup
        env:
          cache-name: cache-pnpm-store
        with:
          path: ${{ env.PNPM_STORE_PATH }}
          key: ${{ env.cache-name }}-${{ runner.os }}-${{ matrix.node-version
            }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ env.cache-name }}-${{ runner.os }}-${{ matrix.node-version }}-
            ${{ env.cache-name }}-${{ runner.os }}-
            ${{ env.cache-name }}-

      - name: pnpm-install
        id: pnpm-install
        run: pnpm i

      - name: build
        run: pnpm build

      - name: test
        run: pnpm test

      - name: lint
        run: pnpm lint

      - name: fmt-check
        run: pnpm fmtc

  automerge:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.action == 'opened'
    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          target: "minor"
